html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 8px 0px;
  background: black;
  color: white;
  text-align: center;
}

#debug {
  color: red;
}

.hidden {
  display: none;
}

#timer {
  width: 300px;
  z-index: 1000;
}

#controls {
  margin: 20px;
}

button {
  width: 80px;
  height: 30px;
}
