html,
body {
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 8px 0px;
  background: black;
  color: white;
  text-align: center;
  min-width: 350px;
  min-height: 200px;
}

#user-input {
  margin: auto;
  margin-top: 20px;
  display: inline-block;
}

#start {
  margin: auto;
  width: 80px;
  height: 30px;
  margin-top: 30px;
}

#debug {
  color: red;
}

.hidden {
  display: none;
}

#timer {
  z-index: 1000;
}

#controls {
  position: absolute;
  top: 70%;
  left: 27%;
}

#sounds{
  display: flex;
  flex-direction: row;
  position:absolute;
  top: 85%;
  left: 20%;
  justify-content: space-around;
}
#trumpet{
  cursor: pointer;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: solid 1px white;
}
#clock{
  cursor: pointer;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: solid 1px white;
}
#retro{
  cursor: pointer;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: solid 1px white;
}

.active{
  background-color: blue;
}

button {
  width: 80px;
  height: 30px;
}
